<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ConversorDolarReal</display-name>
    <servlet-name>ConversorDolarReal</servlet-name>
    <servlet-class>controller.ConversorDolarReal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConversorDolarReal</servlet-name>
    <url-pattern>/ConversorDolarReal</url-pattern>
  </servlet-mapping>
  <display-name>AulaServlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <servlet-class>controller.CadastroUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListaFuncionarios</display-name>
    <servlet-name>ListaFuncionarios</servlet-name>
    <servlet-class>controller.ListaFuncionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaFuncionarios</servlet-name>
    <url-pattern>/ListaFuncionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcularIMC</display-name>
    <servlet-name>CalcularIMC</servlet-name>
    <servlet-class>controller.CalcularIMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcularIMC</servlet-name>
    <url-pattern>/CalcularIMC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tabuada</display-name>
    <servlet-name>Tabuada</servlet-name>
    <servlet-class>controller.Tabuada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tabuada</servlet-name>
    <url-pattern>/Tabuada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculadora</display-name>
    <servlet-name>Calculadora</servlet-name>
    <servlet-class>controller.Calculadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculadora</servlet-name>
    <url-pattern>/Calculadora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aluguelServlet</display-name>
    <servlet-name>aluguelServlet</servlet-name>
    <servlet-class>controller.aluguelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aluguelServlet</servlet-name>
    <url-pattern>/aluguelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PessoaServlet</display-name>
    <servlet-name>PessoaServlet</servlet-name>
    <servlet-class>controller.PessoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PessoaServlet</servlet-name>
    <url-pattern>/PessoaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarPessoaServlet</display-name>
    <servlet-name>AlterarPessoaServlet</servlet-name>
    <servlet-class>controller.AlterarPessoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarPessoaServlet</servlet-name>
    <url-pattern>/AlterarPessoaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstoqueServlet</display-name>
    <servlet-name>EstoqueServlet</servlet-name>
    <servlet-class>controller.EstoqueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstoqueServlet</servlet-name>
    <url-pattern>/EstoqueServlet</url-pattern>
  </servlet-mapping>
</web-app>