<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MeuPrimeiroServlet</display-name>
    <servlet-name>MeuPrimeiroServlet</servlet-name>
    <servlet-class>controller.MeuPrimeiroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeuPrimeiroServlet</servlet-name>
    <url-pattern>/MeuPrimeiroServlet</url-pattern>
  </servlet-mapping>
  <display-name>AulaServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaudacoesServlet</display-name>
    <servlet-name>SaudacoesServlet</servlet-name>
    <servlet-class>controller.SaudacoesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaudacoesServlet</servlet-name>
    <url-pattern>/SaudacoesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoresServlet</display-name>
    <servlet-name>CoresServlet</servlet-name>
    <servlet-class>controller.CoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoresServlet</servlet-name>
    <url-pattern>/CoresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastro</display-name>
    <servlet-name>cadastro</servlet-name>
    <servlet-class>controller.cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastro</servlet-name>
    <url-pattern>/cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroUsuarioServlet</display-name>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <servlet-class>controller.CadastroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <url-pattern>/CadastroUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaServlet</display-name>
    <servlet-name>ListaServlet</servlet-name>
    <servlet-class>controller.ListaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaServlet</servlet-name>
    <url-pattern>/ListaServlet</url-pattern>
  </servlet-mapping>
</web-app>